<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">JCGR</h3>
    <nav class="nav navbar-toggleable-md nav-masthead app-nav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#application-navbar" aria-controls="application-navbar" aria-expanded="false" aria-label="Toggle navigation" style="color: white">
        <span class="navbar-toggler-icon blog-nav-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="application-navbar">
      <%= nav_helper "nav-link","span" %>
      <%= login_helper "nav-link" %>
    </div>
    </nav>
  </div>
</div>
