<h1>About Me</h1>
<hr>
<p>Graduated as an Industrial Engineer, turned Software Engineer after that. I consider myself a backend-developer,
slowly becoming a full-stack developer. Ready to take my skills to the next level one step at a time. During my free time if I'm not coding then I'm reading a good book or either going for a run, bike-run, or swim.
</p>
