<h1>Wanna have a talk about future projects?</h1>
<hr>
<div class="row">
  <div class="col-md-12">
    <h3>Here's my phone:</h3>
    <p>+521<%= number_to_phone "8180884108" %></p>
    <h3>And email:</h3>
    <p><a href="mailto:jcgarzar@gmail.com?subject=PortfolioContact" "jcgarzar@gmail.com">jcgarzar@gmail.com</p>
  </div>
</div>
